.header
{
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	min-height: 600px;
}
.info
{
/* 	padding-top: 300px; */
/* 	padding-left: 50px; */
    color: #FFFFFF;
    font-size: 76px;
    font-weight: 600;
    left: 95%;
    margin-left: -83%;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.33);
    text-transform: uppercase;
    top: 200px;
    z-index: 3;
}
.content-23 {
  position: relative;
  height: 800px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}
.content-23.v-center,
.content-23 .v-center {
  display: table;
  width: 100%;
}
.content-23.v-center > div,
.content-23 .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}
@media (min-width: 768px) {
  .content-23.v-center.row:before,
  .content-23 .v-center.row:before,
  .content-23.v-center.row:after,
  .content-23 .v-center.row:after {
    display: none;
  }
}
@media (max-width: 767px) {
  .content-23.v-center,
  .content-23 .v-center {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }
  .content-23.v-center.row,
  .content-23 .v-center.row {
    display: block;
    width: auto;
  }
  .content-23.v-center.row:before,
  .content-23 .v-center.row:before,
  .content-23.v-center.row:after,
  .content-23 .v-center.row:after {
    display: none;
  }
  .content-23.v-center.row > *,
  .content-23 .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}
.content-23 .control-btn {
  width: 53px;
  height: 53px;
  line-height: 53px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  text-align: center;
  font-size: 19px;
  font-weight: normal;
  color: #7f8c8d;
  background: #121518;
  color: #ffffff;
  opacity: 30;
  filter: alpha(opacity=3000);
  opacity: 0.3;
  filter: alpha(opacity=30);
  position: absolute;
  left: 50%;
  bottom: 90px;
  margin-left: -26.5px;
}
.content-23 .control-btn:hover,
.content-23 .control-btn:focus,
.content-23 .control-btn.active {
  color: #ffffff;
}
.content-23 .control-btn:hover,
.content-23 .control-btn:focus,
.content-23 .control-btn:active,
.content-23 .control-btn.active {
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
@media (max-width: 480px) {
  .content-23 .control-btn {
    bottom: 30px;
  }
}
.content-23 .hero-unit {
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: transparent;
}
.content-23 .hero-unit h1 {
  margin: 0 0 30px;
  font-size: 48px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 600;
  line-height: 56px;
}
@media (max-width: 480px) {
  .content-23 .hero-unit h1 {
    font-size: 36px;
    font-weight: normal;
    color: #ffffff;
    font-weight: 600;
    line-height: 33px;
  }
}
.content-23 .hero-unit.hero-unit-bordered h1 {
  font-size: 46px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 500;
  border: 8px solid white;
  display: inline-block;
  margin: 0;
  padding: 30px 40px;
}
@media (max-width: 767px) {
  .content-23 .hero-unit.hero-unit-bordered h1 {
    font-size: 28px;
    font-weight: normal;
    color: #ffffff;
    font-weight: 600;
  }
}
.content-23 {
  position: relative;
  height: 800px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}
.content-23.v-center,
.content-23 .v-center {
  display: table;
  width: 100%;
}
.content-23.v-center > div,
.content-23 .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}
@media (min-width: 768px) {
  .content-23.v-center.row:before,
  .content-23 .v-center.row:before,
  .content-23.v-center.row:after,
  .content-23 .v-center.row:after {
    display: none;
  }
}
@media (max-width: 767px) {
  .content-23.v-center,
  .content-23 .v-center {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }
  .content-23.v-center.row,
  .content-23 .v-center.row {
    display: block;
    width: auto;
  }
  .content-23.v-center.row:before,
  .content-23 .v-center.row:before,
  .content-23.v-center.row:after,
  .content-23 .v-center.row:after {
    display: none;
  }
  .content-23.v-center.row > *,
  .content-23 .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}
.content-23 .control-btn {
  width: 53px;
  height: 53px;
  line-height: 53px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  text-align: center;
  font-size: 19px;
  font-weight: normal;
  color: #7f8c8d;
  background: #121518;
  color: #ffffff;
  opacity: 30;
  filter: alpha(opacity=3000);
  opacity: 0.3;
  filter: alpha(opacity=30);
  position: absolute;
  left: 50%;
  bottom: 90px;
  margin-left: -26.5px;
}
.content-23 .control-btn:hover,
.content-23 .control-btn:focus,
.content-23 .control-btn.active {
  color: #ffffff;
}
.content-23 .control-btn:hover,
.content-23 .control-btn:focus,
.content-23 .control-btn:active,
.content-23 .control-btn.active {
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
@media (max-width: 480px) {
  .content-23 .control-btn {
    bottom: 30px;
  }
}
.content-23 .hero-unit {
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: transparent;
}
.content-23 .hero-unit h1 {
  margin: 0 0 30px;
  font-size: 48px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 600;
  line-height: 56px;
}
@media (max-width: 480px) {
  .content-23 .hero-unit h1 {
    font-size: 36px;
    font-weight: normal;
    color: #ffffff;
    font-weight: 600;
    line-height: 33px;
  }
}
.content-23 .hero-unit.hero-unit-bordered h1 {
  font-size: 46px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 500;
  border: 8px solid white;
  display: inline-block;
  margin: 0;
  padding: 30px 40px;
}
@media (max-width: 767px) {
  .content-23 .hero-unit.hero-unit-bordered h1 {
    font-size: 28px;
    font-weight: normal;
    color: #ffffff;
    font-weight: 600;
  }
}
.content-23 #bgVideo {
  overflow: hidden;
}
.content-23 #bgVideo > video {
  position: absolute !important;
  top: 0 !important;
}
.content-23 .control-btn {
  opacity: 10;
  filter: alpha(opacity=1000);
  opacity: 0.1;
  filter: alpha(opacity=10);
}
.content-23.custom-bg {
  background-image: url('../img/Italy_001.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
video#bgVideo {
position: fixed; right: 0; bottom: 0;
min-width: 100%; min-height: 600px;
width: auto; height: auto; z-index: -100;
background: url(polina.jpg) no-repeat;
background-size: cover;
}
.test
{
	min-height: 500px;
	background-color: #000;
	opacity: 0.8;
}
.test h1,h2,h3,h4,h5,h6,p
{
	color: #ffffff;
}
.btn
{
	border-radius: 0px;
}
.test2
{
	height: 700px;
	background-color: #2C3E50;
	opacity: 2;
}
.test2 h1,h2,h3,h4,h5,h6,p
{
	color: #fff;
}
.info2
{
	padding: 100px;

}
.icons
{
	padding: 50px;
}
.icon
{
	height: 125px;
	width: auto;
}
.product
{
	height: 400px;
}
.test3
{
	background-color: #ECF0F1;
	
	padding: 30px;
	color: #1ABC9C;

}
.test4
{
	height: 700px;
	background-color: #FFF;
	opacity: 1;
}
.well
{
	border-radius: 0px;
	background-color: #fff;
}
.signup
{
	padding-top: 50px;
	padding-left: 50px;
}
.info3
{
	padding-top: 100px;
	color: #fff;
}
.bottom-menu {
  background: #ebedef;
  color: #b8bfc7;
  padding: 40px 0;
}
.bottom-menu .brand {
  font-size: 23.996px;
  /* 24px */

  margin-bottom: -6px;
  margin-top: -8px;
}
.bottom-menu .title {
  font-size: 14px;
  font-weight: 700;
  margin-top: 0;
}
.bottom-menu a {
  color: inherit;
}
.active .bottom-menu a,
.bottom-menu a:hover,
.bottom-menu a:focus {
  color: #1abc9c;
}
.bottom-menu .label,
.bottom-menu .badge {
  vertical-align: middle;
}
.bottom-icons {
  font-size: 15.988px;
  /* 16px */

}
.bottom-menu-inverse {
  background-color: #34495e;
  color: #677786;
}
.bottom-menu-large {
  padding-bottom: 52px;
  padding-top: 52px;
}
.bottom-menu-large .brand {
  margin-top: -2px;
}
.bottom-menu-large .bottom-links li {
  float: none;
  margin-right: 0;
}
.bottom-links,
.bottom-icons {
  margin: 0;
  padding: 0;
  list-style: none;
}
.bottom-links li,
.bottom-icons li {
  display: block;
  float: left;
  margin: 0 18px 0 0;
}
@media (max-width: 767px) {
  .bottom-menu {
    margin-left: -20px;
    margin-rWhat does Startup Sphere do?ight: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .bottom-menu .brand,
  .bottom-menu .bottom-links {
    margin-bottom: 30px;
  }
  .bottom-menu .bottom-links li {
    float: none;
    margin-bottom: 2px;
  }
  .bottom-menu [class*="span"]:last-child .bottom-links {
    margin-bottom: 0;
  }
}
.info3
{
color: #fff;

}
.blurred-container{
  
  width:100%;
  height:540px;
  top:0;
  left:0;
}
.blurred-container > .img-src{
    
    width:100%;
    height:740px;
    background-repeat:no-repeat;
    
    background-position: center center;
}
